body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60vh;
}
label {
  margin-bottom: 1.5%;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(25, 165, 252);
}
input {
  margin-bottom: 1%;
  width: 30%;
  height: 8%;
  border: none;
  border-bottom: 2px solid rgba(170, 213, 240, 0.911);
  color: rgba(0, 0, 0, 0.699);
  font-size: 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}
